[Unit]
Description=Ethereum 2.0 Beacon Node
After=network.target

[Service]
Type=simple
ExecStart=restart-beacon-node.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
